.button-white-footer {
    color: white;
}

.navv {
    min-height: 60vh;
}

.header {
    background-color: black;
    color: #e6c5c5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer {

}
.app-card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.containerr {
    position: relative;
}

.home {
    color: white;
}