.button{
    padding: 10px;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

.button:hover{
    text-decoration: underline;
    color: white;
    background-color: black;
}